target/
bin/
build/
.mvn/wrapper/maven-wrapper.jar
*.iml
*.iws
*.ipr
.idea/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
.vscode/
.git/
.gitignore
.gitattributes
.env
.env.*
!.env.example
*.local.properties
application-local.properties
